body{
    background: #3e3e3e;
  }

  .batteryContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.batteryOuter {
    position: absolute;
    border-radius: 10px;
    border: 2px solid #fff;
    top: 50px;
    left: 120px;
    width: 200px;
    height: 60px;
    transform: translate(-50%,-50%);
    padding: 2px;
}

.batteryBump {
    top:35px;
    left: 222px;
    position: absolute;
    border-radius: 2px;
    background-color: #fff;
    width: 12px;
    height: 30px;
}

#batteryLevel {
  border-radius: 8px;
  background-color: #6cf76c;
  width: 20%;
  height: 60px;
}
#boxInfo{
    position: absolute !important;
    width: 100vw !important;
    text-align: center !important;
    font-size: 1.5rem;
    top: 4vh !important;

}
  @media (max-width: 600px) and (min-width: 361px){
    .batteryOuter {
        position: absolute;
        border-radius: 8px;
        border: 2px solid #fff;
        top: 20px;
        left: 31px;
        width: 50px;
        height: 20px;
        transform: translate(-50%,-50%);
        padding: 2px;
    }

    .batteryBump {
        top: 12px;
        left: 58px;
        position: absolute;
        border-radius: 2px;
        background-color: #fff;
        width: 5px;
        height: 15px;
    }

    #batteryLevel {
        border-radius: 10px;
        background-color: #6cf76c;
        width: 20%;
        height: 20px;
    }
    #boxInfo{
        position: absolute !important;
        width: 100vw !important;
        text-align: center !important;
        top: 2vh !important;
      }
  }
  @media (max-width: 360px){
    .batteryOuter {
        position: absolute;
        border-radius: 8px;
        border: 2px solid #fff;
        top: 20px;
        left: 35px;
        width: 50px;
        height: 20px;
        transform: translate(-50%,-50%);
        padding: 2px;
    }

    .batteryBump {
        top: 12px;
        left: 62px;
        position: absolute;
        border-radius: 2px;
        background-color: #fff;
        width: 5px;
        height: 15px;
    }

    #batteryLevel {
        border-radius: 10px;
        background-color: #6cf76c;
        width: 20%;
        height: 20px;
    }
    #boxInfo{
        position: absolute !important;
        width: 100vw !important;
        text-align: center !important;
        top: 2vh !important;
      }
  }
  @media (max-width: 850px) and (min-width: 601px){

  .batteryContainer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .batteryOuter {
    position: absolute;
    border-radius: 10px;
    border: 2px solid #fff;
    top: 50px;
    left: 120px;
    width: 200px;
    height: 60px;
    transform: translate(-50%,-50%);
    padding: 2px;
}

  .batteryBump {
      top:35px;
      left: 222px;
      position: absolute;
      border-radius: 2px;
      background-color: #fff;
      width: 12px;
      height: 30px;
  }

  #batteryLevel {
    border-radius: 8px;
    background-color: #6cf76c;
    width: 20%;
    height: 60px;
  }
    #boxInfo {
        font-size: 25px;
        position: absolute !important;
        width: 100vw !important;
        text-align: center !important;
        top: 4vh !important;
    }
  }
  /*  */

  *{
    font-family: 'Montserrat', sans-serif;
  }
  body {
      padding-top: 25vh;
      background-color: rgba(156, 210, 210, .8);
    }

    svg {
      width: 100%;
    }

    .container {
      width: 200px;
      margin: 3em auto;
    }

    .st0 {
      fill: #FFFFFF;
    }

    .st1 {
      fill: none;
      stroke: #FFFFFF;
      stroke-width: 4;
      stroke-miterlimit: 10;
    }

    .st2 {
      fill: none;
      opacity: .5;
      stroke: #FFFFFF;
      stroke-width: 2;
      stroke-miterlimit: 10;
    }

    #one {
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
    }

    .oneAnimation{
      -webkit-animation: line-glow 1s .1s infinite;
      animation: line-glow 1s .1s infinite;
    }

    #two {
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
    }

    .twoAnimation{
      -webkit-animation: line-glow 1s .2s infinite;
      animation: line-glow 1s .2s infinite;
    }

    #three {
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
    }

    .threeAnimation{
      -webkit-animation: line-glow 1s .3s infinite;
      animation: line-glow 1s .3s infinite;
    }

    #four {
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
    }

    .fourAnimation{
      -webkit-animation: line-glow 1s .4s infinite;
      animation: line-glow 1s .4s infinite;
    }

    #five {
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
    }

    .fiveAnimation{
      -webkit-animation: line-glow 1s .5s infinite;
      animation: line-glow 1s .5s infinite;
    }

    #six {
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
    }

    .sixAnimation{
      -webkit-animation: line-glow 1s .6s infinite;
      animation: line-glow 1s .6s infinite;
    }

    #seven {
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
    }

    .sevenAnimation{
      -webkit-animation: line-glow 1s .7s infinite;
      animation: line-glow 1s .7s infinite;
    }

    #bulb-body-fill{
        cursor: pointer;
        opacity: 0;
    }

    .bulb-body-fill {
      -webkit-animation: bulb-on 1s ease infinite;
      animation: bulb-on 1s ease infinite;
    }

    @-webkit-keyframes line-glow {
      10% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 1;
      }
    }

    @keyframes line-glow {
      10% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 1;
      }
    }

    @-webkit-keyframes bulb-on {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes bulb-on {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    #boxInfo{
      position: absolute;
      width: 100vw;
      text-align: center;
      top: 10px;

    }
