body, html {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    background-color: #048CDC !important;
    font-family: 'Open Sans', sans-serif !important;
    color: white;
}

*{
    /* background-color: #048CDC !important; */
    font-family: 'Open Sans', sans-serif !important;
}
.slidecontainer {
    width: 10vw;
  }

  .slider {
    -webkit-appearance: none;
    width: 20vw;
    height: 25px;
    background: #fff;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: absolute;
    border-radius: 5px;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #24c029;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #24c029;
    cursor: pointer;
  }

#sanitationBox{
    display: none;
}
#starting{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s, display 0.5s linear;
}
#explorationBox{
    display: none;
}
#exploreEnd{
    display: none;
}
#spanPercentage{
    position: absolute;
    top: 40vh;
    right: 30vw;
    font-size: 1.5rem;
    color: #fff;
}
#buttonDone{
    position: absolute;
    bottom: 20vh;
    right: 30vw;
    width: 20vw;
    height: 10vh;
    background-color: #048CDC;
    border: 1px solid aliceblue;
    border-radius: 10px;
    color: aliceblue;
    font-size: 2rem;
}
#buttonSaveMap{
    position: absolute;
    bottom: 20vh;
    left: 10vw;
    width: 20vw;
    height: 10vh;
    background-color: #048CDC;
    border: 1px solid aliceblue;
    border-radius: 10px;
    color: aliceblue;
    font-size: 2rem;
}
#map{
    width: 300px;
    border-radius: 10px;
}
#mapSani{
    width: 300px;
    border-radius: 10px;
}
#buttonRedoMap{
    position: absolute;
bottom: 20vh;
right: 10vw;
width: 20vw;
height: 10vh;
background-color: #048CDC;
border: 1px solid aliceblue;
border-radius: 10px;
color: aliceblue;
font-size: 2rem;
}
#booting{
    display: none;
}
#saving{
    display: none;
}
#panel{
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s, display 0.5s linear;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10%;
}
#controlsBox{
    display: none;
}

.buttonPanelSmall, .buttonPanelSmall2, .buttonPanelSmall3{
    display: none;
}
.blinking {
    animation: blinker 2s linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.bodyAlign{
    align-items: center;
}
.middle{
    margin:0 auto;
    align-items:center;
    color: #23abea;
}


.middle h3{
    font-size: 6rem !important;
    text-decoration: none;
    cursor: default;
    color: aliceblue;
}
.waitMessage{
    font-size: 2rem !important;
    color: aliceblue;
}

.imgLogo{
    position: absolute;
    top: 5vh;
    left: 45vw;
    width: 10vw;
}

.lightControls{
    position: absolute;
    right: 15vw;
    top: 50vh;
}
.lightControls span {
    color: white !important;
}
#lightBtn{
    border: 2px solid aliceblue;
        width: 25vw;
        height: 20vh;
        display: flex;
        font-size: 1.5rem;
        align-content: center;
        text-align: center;
        justify-content: center;
        align-items: inherit;
        border-radius: 10px;
        color: white !important;
        text-decoration: none;
        background-color: #048CDC !important;
        padding-top: auto;
}
@media (min-width: 1100px) and (max-width: 1700px){

    #buttonSaveMap{
        position: absolute;
        bottom: 40vh;
        left: 10vw;
        width: 20vw;
        height: 10vh;
        background-color: #048CDC;
        border: 1px solid aliceblue;
        border-radius: 10px;
        color: aliceblue;
        font-size: 2rem;
    }
    #map{
        position: relative;
        top: 8vh;
        width: 300px;
        border-radius: 10px;
    }
    #mapSani{
        position: absolute;
        top: 35vh;
        left: 20vw;
        width: 300px;
        border-radius: 10px;
    }
    #buttonRedoMap{
        position: absolute;
        bottom: 40vh;
        right: 10vw;
        width: 20vw;
        height: 10vh;
        background-color: #048CDC;
        border: 1px solid aliceblue;
        border-radius: 10px;
        color: aliceblue;
        font-size: 2rem;
    }
}
@media (min-width: 1700px) {
    #mapSani {
        position: absolute;
        top: 40vh;
        left: 20vw;
        width: 400px;
        border-radius: 10px;
    }
    #spanPercentage {
        position: absolute;
        top: 40vh;
        right: 38vw;
        font-size: 1.5rem;
        color: #fff;
    }
    #buttonSaveMap{
        position: absolute;
        bottom: 40vh;
        left: 10vw;
        width: 20vw;
        height: 10vh;
        background-color: #048CDC;
        border: 1px solid aliceblue;
        border-radius: 10px;
        color: aliceblue;
        font-size: 2rem;
    }
    #map{
        position: relative;
        top: 8vh;
        width: 400px;
        border-radius: 10px;
    }
    #buttonRedoMap{
        position: absolute;
        bottom: 40vh;
        right: 10vw;
        width: 20vw;
        height: 10vh;
        background-color: #048CDC;
        border: 1px solid aliceblue;
        border-radius: 10px;
        color: aliceblue;
        font-size: 2rem;
    }
}
@media (max-width: 420px){
    .container {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        height: 50px !important;
        flex-direction: column !important;
        position: absolute !important;
        width: 90vw !important;
        top: 70vh !important;
        right: 5vw !important;
    }

    #buttonDone {
        position: absolute;
        bottom: 10vh;
        right: 20vw;
        width: 60vw;
        height: 10vh;
        background-color: #048CDC;
        border: 1px solid aliceblue;
        border-radius: 10px;
        color: aliceblue;
        font-size: 2rem;
    }
    #spanPercentage {
        position: absolute;
        width: 98vw;
        right: 0vw;
        top: 64vh;
        font-size: 1.5rem;
        color: #fff;
    }
    #buttonSaveMap{
        position: absolute;
        bottom: 10vh;
        left: 5vw;
        width: 40vw;
        height: 10vh;
        background-color: #048CDC;
        border: 1px solid aliceblue;
        border-radius: 10px;
        color: aliceblue;
        font-size: 1.5rem;
    }
    #map{
        width: 200px;
        border-radius: 10px;
    }
    #mapSani {
        width: 200px;
        border-radius: 10px;
        top: -5vh;
        position: relative;
    }
    #buttonRedoMap{
        position: absolute;
        bottom: 10vh;
        right: 5vw;
        width: 40vw;
        height: 10vh;
        background-color: #048CDC;
        border: 1px solid aliceblue;
        border-radius: 10px;
        color: aliceblue;
        font-size: 1.5rem;
    }
    #rotateDevice{
        display: flex;
        justify-content: center;
        background-color: #048CDC;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 999;
        width: 100vw;
        height: 100vh;
    }
    #rotateDevice img{
        position: absolute;
        height: 50vh;
        top: 25vh;
    }
    .middle h3{
        font-size: 3rem !important;
        text-decoration: none;
        cursor: default;
    }
    .waitMessage{
        font-size: 1rem !important;
    }
    .imgLogo{
        position: absolute;
        top: 5vh;
        left: 37.5vw;
        width: 25vw;
    }
    .buttonPanelSmall{
        position: absolute;
        top:40vh;
        left: -4vw;
        border: 2px solid aliceblue;
        width: 110vw;
        height: 10vh;
        display: flex;
        font-size: 2rem;
        align-content: center;
        text-align: center;
        justify-content: center;
        align-items: inherit;
        border-radius: 10px;
        color: white !important;
        text-decoration: none;
        background-color: #048CDC !important;
    }
    .buttonPanelSmall2{
        position: absolute;
        top: 53vh;
        left: -4vw;
        border: 2px solid aliceblue;
        width: 110vw;
        height: 10vh;
        display: flex;
        font-size: 2rem;
        align-content: center;
        text-align: center;
        justify-content: center;
        align-items: inherit;
        border-radius: 10px;
        color: white !important;
        text-decoration: none;
        background-color: #048CDC !important;
    }
    .buttonPanelSmall3{
        position: absolute;
        top: 66vh;
        left: -4vw;
        border: 2px solid aliceblue;
        width: 110vw;
        height: 10vh;
        display: flex;
        font-size: 2rem;
        align-content: center;
        text-align: center;
        justify-content: center;
        align-items: inherit;
        border-radius: 10px;
        color: white !important;
        text-decoration: none;
        background-color: #048CDC !important;
    }
    .buttonPanel1{
        display: none;
    }
    .buttonPanel2{
        display: none;
    }
    .buttonPanel3{
        display: none;
    }
    #joystick{
        display: none;
    }
}

@media only screen  and (min-device-width: 300px) and (orientation: landscape) {
    #rotateDevice{
        display: none;
    }
    .middle h3{
        font-size: 3rem !important;
        text-decoration: none;
        cursor: default;
        color: aliceblue;
    }
    .waitMessage{
        font-size: 1rem !important;
    }
    .buttonPanel1{
        position: absolute;
        left: 3vw;
        top: 50vh;
        border: 2px solid aliceblue;
        border: 2px solid aliceblue;
        width: 30vw;
        height: 16vh;
        display: flex;
        font-size: 1.5rem;
        align-content: center;
        text-align: center;
        justify-content: center;
        align-items: inherit;
        margin-right: 2vw;
        border-radius: 10px;
        color: white !important;
        text-decoration: none;
        background-color: #048CDC !important;
    }
    .buttonPanel2{
        position: absolute;
        left: 35vw;
        top: 50vh;
        border: 2px solid aliceblue;
        border: 2px solid aliceblue;
        width: 30vw;
        height: 16vh;
        display: flex;
        font-size: 1.5rem;
        align-content: center;
        text-align: center;
        justify-content: center;
        align-items: inherit;
        margin-right: 2vw;
        border-radius: 10px;
        color: white !important;
        text-decoration: none;
        background-color: #048CDC !important;
    }
    .buttonPanel3{
        position: absolute;
        left: 67vw;
        top: 50vh;
        border: 2px solid aliceblue;
        border: 2px solid aliceblue;
        width: 30vw;
        height: 16vh;
        display: flex;
        font-size: 1.5rem;
        align-content: center;
        text-align: center;
        justify-content: center;
        align-items: inherit;
        margin-right: 2vw;
        border-radius: 10px;
        color: white !important;
        text-decoration: none;
        background-color: #048CDC !important;
    }
    .buttonPanelSmall{
        display: none;
    }
    .buttonPanelSmall2{
        display: none;
    }
    .buttonPanelSmall3{
        display: none;
    }
    #lightBtn{
        border: 2px solid aliceblue;
        width: 25vw;
        height: 20vh;
        display: flex;
        font-size: 1.5rem;
        align-content: center;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: white !important;
        text-decoration: none;
        background-color: #048CDC !important;

    }
    #joystick{

        position: absolute;
        left: -10vw;
        top: 40vh;
    }
}


/*
*/
@media (min-width: 700px) and (min-height: 900px){
    .middle h3{
        font-size: 6rem !important;
        text-decoration: none;
        cursor: default;
        color: aliceblue;
    }
    .waitMessage{
        font-size: 1rem !important;
    }
    .buttonPanel1{
        position: absolute;
        top: 50vh;
        left: 20vw;
        border: 2px solid aliceblue;
        width: 15vw;
        height: 10vh;
        display: flex;
        font-size: 2rem;
        align-content: center;
        text-align: center;
        justify-content: center;
        align-items: inherit;
        margin-right: 1vw;
        border-radius: 10px;
        color: white !important;
        text-decoration: none;
        background-color: #048CDC !important;
    }
    .buttonPanel2{
        position: absolute;
        top: 50vh;
        left: 43vw;
        border: 2px solid aliceblue;
        width: 15vw;
        height: 10vh;
        display: flex;
        font-size: 2rem;
        align-content: center;
        text-align: center;
        justify-content: center;
        align-items: inherit;
        margin-right: 1vw;
        border-radius: 10px;
        color: white !important;
        text-decoration: none;
        background-color: #048CDC !important;
    }
    .buttonPanel3{
        position: absolute;
        top: 50vh;
        left: 66vw;
        border: 2px solid aliceblue;
        width: 15vw;
        height: 10vh;
        display: flex;
        font-size: 2rem;
        align-content: center;
        text-align: center;
        justify-content: center;
        align-items: inherit;
        margin-right: 1vw;
        border-radius: 10px;
        color: white !important;
        text-decoration: none;
        background-color: #048CDC !important;
    }
    #lightBtn{
        border: 2px solid aliceblue;
        width: 25vw;
        height: 20vh;
        display: flex;
        font-size: 4rem;
        align-content: center;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: white !important;
        text-decoration: none;
        background-color: #048CDC !important;
    }
    #joystick{
        position: absolute;
        left: -10vw;
        top: 20vh;
    }
}
