body, html {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    background-color: #048CDC !important;
    font-family: 'Open Sans', sans-serif !important;
    color: white;
}

*{
    /* background-color: #048CDC !important; */
    font-family: 'Open Sans', sans-serif !important;
}
#starting{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s, display 0.5s linear;
}
#panel{
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s, display 0.5s linear;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10%;
}
#controlsBox{
    display: none;
}
.buttonPanel{
    border: 2px solid aliceblue;
    width: 15vw;
    height: 10vh;
    display: flex;
    font-size: 2rem;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: inherit;
    margin-right: 1vw;
    border-radius: 10px;
    color: white !important;
    text-decoration: none;
    background-color: #048CDC !important;
}
.buttonPanelSmall, .buttonPanelSmall2, .buttonPanelSmall3{
    display: none;
}
.blinking {
    animation: blinker 2s linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.bodyAlign{
    align-items: center;
}
.middle{
    margin:0 auto;
    align-items:center;
    color: #23abea;
}


.middle h3{
    font-size: 6rem !important;
    text-decoration: none;
    cursor: default;
    color: aliceblue;
}
.waitMessage{
    font-size: 2rem !important;
    color: aliceblue;
}

.imgLogo{
    position: absolute;
    top: 5vh;
    left: 45vw;
    width: 10vw;
}

@media (max-width: 420px){
    .middle h3{
        font-size: 3rem !important;
        text-decoration: none;
        cursor: default;
    }
    .waitMessage{
        font-size: 1rem !important;
    }
    .imgLogo{
        position: absolute;
        top: 5vh;
        left: 37.5vw;
        width: 25vw;
    }
    .buttonPanelSmall{
        position: absolute;
        top:40vh;
        border: 2px solid aliceblue;
        width: 110vw;
        height: 10vh;
        display: flex;
        font-size: 2rem;
        align-content: center;
        text-align: center;
        justify-content: center;
        align-items: inherit;
        border-radius: 10px;
        color: white !important;
        text-decoration: none;
        background-color: #048CDC !important;
    }
    .buttonPanelSmall2{
        position: absolute;
        top: 53vh;
        border: 2px solid aliceblue;
        width: 110vw;
        height: 10vh;
        display: flex;
        font-size: 2rem;
        align-content: center;
        text-align: center;
        justify-content: center;
        align-items: inherit;
        border-radius: 10px;
        color: white !important;
        text-decoration: none;
        background-color: #048CDC !important;
    }
    .buttonPanelSmall3{
        position: absolute;
        top: 66vh;
        border: 2px solid aliceblue;
        width: 110vw;
        height: 10vh;
        display: flex;
        font-size: 2rem;
        align-content: center;
        text-align: center;
        justify-content: center;
        align-items: inherit;
        border-radius: 10px;
        color: white !important;
        text-decoration: none;
        background-color: #048CDC !important;
    }
    .buttonPanel{
        display: none;
    }
}



/*
*/
